*
{
    margin:0px;
    padding:0px;
    font-family:'Trebuchet MS';
    font-size:14px;
}

#tot
{
    width:980px;
    margin-top:20px;
    margin-bottom:0px;
    margin-right:auto;
    margin-left:auto;
}

.button
{
    float:left;
    width:140px;
    height:140px;
    color:#fff;
    background-color:#3366CC;
    border:1px solid #fff;
    margin:10px;
    /*white-space: normal;*/
}

#PanelGrids
{
    clear:both;
}

.grid
{
    margin:20px;
}