USE [hoteles_basico_dwes]
GO
/****** Object:  Table [dbo].[cadenas]    Script Date: 14/12/2014 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cadenas](
	[cif] [varchar](9) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[dir_fis] [varchar](50) NOT NULL,
 CONSTRAINT [pk_cadenas] PRIMARY KEY CLUSTERED 
(
	[cif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ciudades]    Script Date: 14/12/2014 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ciudades](
	[id_ciudad] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [pk_ciudades] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hoteles]    Script Date: 14/12/2014 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hoteles](
	[id_ciudad] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[categoria] [int] NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[tipo] [varchar](15) NOT NULL,
	[cif] [varchar](9) NOT NULL,
 CONSTRAINT [pk_hoteles] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[restaurantes]    Script Date: 14/12/2014 11:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[restaurantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NULL,
	[especialidad] [varchar](30) NULL,
	[id_ciudad] [int] NULL,
	[nombre_hot] [varchar](30) NULL,
 CONSTRAINT [PK_restaurantes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[cadenas] ([cif], [nombre], [dir_fis]) VALUES (N'A21394990', N'Intercontinental', N'Paseo de Gracia 120')
INSERT [dbo].[cadenas] ([cif], [nombre], [dir_fis]) VALUES (N'A23545451', N'NH', N'Av. Diagonal 230')
INSERT [dbo].[cadenas] ([cif], [nombre], [dir_fis]) VALUES (N'A65473819', N'H10', N'Paseo de Gracia 120')
INSERT [dbo].[ciudades] ([id_ciudad], [nombre]) VALUES (1, N'Barcelona')
INSERT [dbo].[ciudades] ([id_ciudad], [nombre]) VALUES (2, N'Madrid')
INSERT [dbo].[ciudades] ([id_ciudad], [nombre]) VALUES (3, N'Valencia')
INSERT [dbo].[hoteles] ([id_ciudad], [nombre], [categoria], [direccion], [telefono], [tipo], [cif]) VALUES (1, N'Alejandría', 5, N'Pérez Galdós, 231', 934215645, N'MONTAÑA', N'A21394990')
INSERT [dbo].[hoteles] ([id_ciudad], [nombre], [categoria], [direccion], [telefono], [tipo], [cif]) VALUES (1, N'Alexandra', 4, N'Plaza Cataluña 12', 934567723, N'PLAYA', N'A65473819')
INSERT [dbo].[hoteles] ([id_ciudad], [nombre], [categoria], [direccion], [telefono], [tipo], [cif]) VALUES (1, N'Barcelona', 4, N'Santa Ana 33', 934453812, N'PLAYA', N'A65473824')
SET IDENTITY_INSERT [dbo].[restaurantes] ON 

INSERT [dbo].[restaurantes] ([id], [nombre], [especialidad], [id_ciudad], [nombre_hot]) VALUES (1, N'Andele', N'Mexicano', 1, N'Barcelona')
INSERT [dbo].[restaurantes] ([id], [nombre], [especialidad], [id_ciudad], [nombre_hot]) VALUES (2, N'Di Angelis', N'Italiano', 1, N'Barcelona')
INSERT [dbo].[restaurantes] ([id], [nombre], [especialidad], [id_ciudad], [nombre_hot]) VALUES (3, N'Trocadero', N'Mediterránea', 1, N'Juan Carlos I')
SET IDENTITY_INSERT [dbo].[restaurantes] OFF
ALTER TABLE [dbo].[hoteles]  WITH CHECK ADD  CONSTRAINT [fk_hoteles_cadenas] FOREIGN KEY([cif])
REFERENCES [dbo].[cadenas] ([cif])
GO
ALTER TABLE [dbo].[hoteles] CHECK CONSTRAINT [fk_hoteles_cadenas]
GO
ALTER TABLE [dbo].[hoteles]  WITH CHECK ADD  CONSTRAINT [fk_hoteles_ciudades] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[ciudades] ([id_ciudad])
GO
ALTER TABLE [dbo].[hoteles] CHECK CONSTRAINT [fk_hoteles_ciudades]
GO
ALTER TABLE [dbo].[restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_restaurantes_hoteles] FOREIGN KEY([id_ciudad], [nombre_hot])
REFERENCES [dbo].[hoteles] ([id_ciudad], [nombre])
GO
ALTER TABLE [dbo].[restaurantes] CHECK CONSTRAINT [FK_restaurantes_hoteles]
GO
USE [master]
GO
